<% layout("./layouts/boilerplate") -%>
<h1>Transactions List</h1>
    <ul>
        <% if (transactions) { %>
            <li>
            <strong>Name:</strong> <%= transactions.name || 'N/A' %><br>
            <strong>Amount:</strong> <%= transactions.amount || 'N/A' %><br>
            <strong>Type:</strong> <%= transactions.type || 'N/A' %><br>
            <strong>Date:</strong> <%= transactions.date ? new Date(transactions.date.seconds * 1000).toLocaleString() : 'N/A' %><br>
            <strong>Description:</strong> <%= transactions.description || 'N/A' %><br>
            <strong>Category:</strong> <%= transactions.category || 'N/A' %>
            </li>
        <% } else { %>
            <li>No transaction available</li>
        <% } %>
    </ul>
